<div class="">
  <mat-toolbar class="toolbar-footer" >
    <div class="contain-footer">
      <div class="footer-column" >
        <div class="footer-logo-img"></div>
        <p class="footer-p">El amor por el color lo podrás ver en cada uno de nuestros bolsos. Nuestros diseños son contemporáneos, funcionales y con un estilo que los hace únicos ¡Cada bolso es una historia que quieres conocer!.</p>
        <div class="footer-logo-redes">
          <img src="../../../../../assets/image/logo-facebook.svg" alt="logo facebook">
          <img src="../../../../../assets/image/logo-instagram.svg" alt="logo instagram">
        </div>
        <img class="footer-img_mediospago" src="../../../../../assets/image/Logos-formaspago.svg" alt="">
        <p class="footer-p">Developer for eilleenmaria</p>
      </div>
      <div class="footer-column" >
        <p class="footer-title">Home</p>
        <div class="footer-line"></div>
        <ul class="footer-list">
          <li><a class="footer-li_a" href="">Nueva coleccion</a></li>
          <li><a class="footer-li_a" href="">Acerca de</a></li>
          <li><a class="footer-li_a" href="">Contactanos</a></li>
          <li><a class="footer-li_a" href="">PQRS</a></li>

        </ul>
      </div>
      <div class="footer-column">
        <p class="footer-title">Categorias</p>
        <div class="footer-line"></div>
        <ul class="footer-list">
          <li><a class="footer-li_a" href="">Billeteras</a></li>
          <li><a class="footer-li_a" href="">Bolsos</a></li>
          <li><a class="footer-li_a" href="">Pañoletas</a></li>
          <li><a class="footer-li_a" href="">Correas</a></li>
        </ul>
        <div class="footer-prom_contain">
          <h3 class="footer-prom">Aprovecha nuestras promociones</h3>
          <a class="footer-prom_link" href="">Exclusivas para ti</a>
        </div>

      </div>
      <div class="footer-column">
        <p class="footer-title">Politicas</p>
        <div class="footer-line"></div>
        <ul class="footer-list">
          <li><a class="footer-li_a" href="">Tratamiento de datos</a></li>
          <li><a class="footer-li_a" href="">Cambios, garantias y devoluciones</a></li>
          <li><a class="footer-li_a" href="">Politicas de envio</a></li>
          <li><a class="footer-li_a" href="">Politica de descuentos</a></li>
          <li><a class="footer-li_a" href="">Reversion de pagos</a></li>
          <li><a class="footer-li_a" href="">Politica de Venta</a></li>
        </ul>
      </div>

    </div>
  </mat-toolbar>
</div>

