<app-navbar></app-navbar>
<div class="home-container">
  <div class="home-promocional">
    <div class="home-promocional-text">
      <h1 class="home-promocional-text-title home-promocional-text-shadow">ABRIL PROMOCIONAL</h1>
      <p class="home-promocional-text-subtitle home-promocional-text-shadow">Productos seleccionados con 33% de descuento</p>
      <button mat-raised-button color="primary">Ver Productos</button>
    </div>
  </div>
  <div class="home-container-productos-destacados">
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/image/manoslibre.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
      <button mat-button class="mat-button-text">Manos Libres</button>
    </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/image/deportivo.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
      <button mat-button >Deportivos</button>
    </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/image/billetera.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
      <button mat-button >Billeteras</button>
    </mat-card-actions>
    </mat-card>
  </div>
</div>
